// COLORS
$vt-green-1: #defddb;
$vt-green-2: #2a5f2c;
$vt-yellow-1: #fff9c5;
$vt-yellow-2: #947f50;
$vt-red-1: #ffebec;
$vt-red-2: #936265;
$vt-blue-1: #eaf0fe;
$vt-blue-2: #211f6c;

// SIZES
$vt-s-1: 1rem;
$vt-s-2: 2rem;
$vt-s-3: 3rem;

// SCREENS
$vt-mobile: 750px;
$vt-tablet: 900px;
